/* Header */

header {
    width: 100%;
    background-color: #0b0b12;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: #8b5cf6;
}

/* Navigation */

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    color: #aaa;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
}

/* Button */

.nav-btn {
    background-color: #7c3aed;
    color: white;

    padding: 11px 20px;
    border-radius: 8px;

    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #8b5cf6;
    transform: translateY(-2px);
}

/* Mobile */

@media (max-width: 700px) {

    .nav-links {
        display: none;
    }

    .navbar {
        padding: 18px 20px;
    }

    .logo {
        font-size: 24px;
    }

}
